<div id="<%= dom_id vocabulary %>">
  <p>
    <strong>日文:</strong>
    <%= vocabulary.japanese %>
  </p>

  <p>
    <strong>漢字/英文/外來語:</strong>
    <%= vocabulary.kanji %>
  </p>

  <p>
    <strong>中文:</strong>
    <%= vocabulary.chinese %>
  </p>

</div>

