<h1>Editing vocabulary</h1>

<%= render "form", vocabulary: @vocabulary %>

<br>

<div>
  <%= link_to "Show this vocabulary", @vocabulary %> |
  <%= link_to "Back to vocabularies", vocabularies_path %>
</div>
